.left-section {
    width: 60%;
}

.right-section {
    width: 20%;
}

.feature i {
    font-size: 1.5rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#details-para {
    text-align: justify;
}

.right-section {
    height: max-content;
}

.input-part input {
    width: 100%;

}

.input-part {
    margin: 1.5rem 0;
    padding: 0 1rem;
}