#hero {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.text-container {
    color: rgb(17, 17, 217);
    padding-top: 15rem;
    padding-left: 10rem;
}

#featured {
    margin-top: 4rem;
    padding: 0 3rem;
}

.underlined-text {
    width: max-content;
}

.underlined-text::after {
    display: block;
    content: "";
    width: 35%;
    height: 0.2rem;
    background-color: orange;
}

.ac-card {
    width: 20%;
}

.c-header {
    margin: 1rem 0;
}

.c-header img {
    height: 20rem;
    border-radius: 15px;
    max-width: 100%;
    margin: auto;
}

.c-body h4 {
    font-family: Poppins;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;

}

.c-body h6 {
    color: rgba(6, 85, 160, 1);

}